.intro {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.media-section {
    align-items: flex-start;
}

.movie-section, .music-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .skill-grid {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 550px) {
    .skill-grid {
        grid-template-columns: repeat(2, auto);
    }
}