.home-page {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/public/images/home-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.home-title {
    color: #fff;
    font-size: 40px;
}

.home-item {
    margin: 1rem 1rem;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .btns {
        flex-direction: column;
    }
}