.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-title {
    margin: 2rem;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.info-item {
    margin: 1rem 2.5rem;
}

.info-text {
    font-size: 1.5rem;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
}

@media (max-width: 800px) {
    .skill-grid {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 550px) {
    .main-title {
        margin: 1rem;
        font-size: 1.75rem;
    }

    .info-item {
        margin: 0.25rem 2rem;
    }

    .info-text {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .main-title {
        margin: 0.8rem;
        font-size: 1.5rem;
    }

    .info-item {
        margin: 0.1rem 1rem;
    }

    .info-text {
        font-size: 0.8rem;
    }
}