.project-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--dark-blue);
    transition: all 0.3s ease-in;
}

.project-title {
    color: var(--dark-blue);
    transition: all 0.3s ease-in;
}

.project-link:hover,
.project-link:hover .project-title {
    color: var(--light-blue);
}