.imgfig-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background: transparent;
    overflow: hidden;
}

.imgfig-img {
    position: relative;
    transition: all 0.5s ease;
}

.imgfig-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
}

.imgfig-caption {
    font-size: 1.3rem;
}

.media-img {
    width: 32vw;
    height: auto;
}

.skill-item {
    margin: 1rem 2rem;
}

.skill-logo {
    height: 130px;
    width: auto;
    background: #fff;
}

.company-img {
    width: 100%;
    height: auto;
}

.bnh-text {
    font-size: 1rem;
}

.lp-gui-img {
    width: 20vw;
    height: auto;
}

.lp-console-img {
    width: 35vw;
    height: auto;
}

@media (min-width: 851px) {
    .imgfig-caption {
        color: #fff;
        position: absolute;
        z-index: 2;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .imgfig-figure::after {
        content: "";
        background-color: rgba(0, 0, 0, 0.7);
        border-top: 20px solid rgba(0, 0, 0, 0.8);
        border-bottom: 20px solid rgba(0, 0, 0, 0.8);
        z-index: 1;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleY(1.25);
        transition: all 0.5s ease;
    }
    
    .imgfig-figure:hover::after {
        transform: scale(1);
        opacity: 1;
    }

    .imgfig-figure:hover .imgfig-caption {
        opacity: 1;
        transform: translateY(0vh)
    }

    .imgfig-caption {
        transform: translateY(3vh);
    }
}

@media (max-width: 1100px) {
    .skill-logo {
        height: 100px;
    }

    .imgfig-caption {
        font-size: 1.1rem;
    }

    .bnh-text {
        font-size: 0.7rem;
    }
}

@media (max-width: 900px) {
    .skill-logo {
        height: 80px;
    }
}

@media (max-width: 850px) {
    .imgfig-figure {
        background: transparent;
    }

    .skill-logo {
        height: 70px;
    }
}

@media (max-width: 800px) {
    .skill-logo {
        height: 120px;
    }

    .company-text {
        font-size: 0.6rem;
    }
}

@media (max-width: 550px) {
    .imgfig-caption {
        font-size: 1rem;
    }

    .company-text {
        font-size: 0.5rem;
    }
}

@media (max-width: 400px) {
    .skill-logo {
        height: 90px;
    }

    .imgfig-caption {
        font-size: 0.8rem;
    }

    .company-text {
        font-size: 0.4rem;
    }
}