.sizing-container {
    position: relative;
    perspective: 1000px;
    width: 32vw;
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.main-card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.main-card.flip {
    transform: rotateY(180deg);
}

.front {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
}

.back::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: 32vw auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 0.25;
}

.jimi-hendrix-card .back::before {   
    background-image: url("/public/images/jimi-hendrix.jpg");
}

.led-zeppelin-card .back::before {    
    background-image: url("/public/images/led-zeppelin-symbols.png");
}

.queen-card .back::before {    
    background-image: url("/public/images/queen-logo.jpg");
}

.nirvana-card .back::before {    
    background-image: url("/public/images/nirvana-smile.png");
}

.nirvana-card .back::before {    
    background-image: url("/public/images/nirvana-smile.png");
}

.ccr-card .back::before {    
    background-image: url("/public/images/ccr-wood.jpg");
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text > h1 {
    font-size: 2rem;
}

.text > p {
    font-size: 1.2rem;
}

@media (max-width: 800px) {
    .text > h1 {
        font-size: 1.5rem;
    }
    
    .text > p {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    .text > h1 {
        font-size: 1.25rem;
    }
    
    .text > p {
        font-size: 0.8rem;
    }
}

@media (max-width: 550px) {
    .text > h1 {
        font-size: 1rem;
    }

    .text > p {
        font-size: 0.7rem;
    }
}

@media (max-width: 450px) {
    .text > h1 {
        font-size: 0.6rem;
    }

    .text > p {
        font-size: 0.55rem;
    }
}